---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Ahora">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Desarrollador Full Stack</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="cursor-pointer text-xs text-gray-500">¿Qué es eso?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Actualmente trabajo como desarrollador full stack en VIEWNEXT.</p>
</Card>
