---
import BaseLayout from '../layouts/BaseLayout.astro'

import { buttonVariants } from '../components/ui/button'
---

<BaseLayout
  title="404 - No encontrado"
  description="Error 404 — esta página no fue encontrada"
>
  <main class="flex h-[80vh] flex-auto">
    <div class="flex flex-col items-center justify-center px-8">
      <img src="/me_hello.png" alt="404" class="mb-8 size-64" />
      <p class="text-sm text-muted-foreground">404</p>
      <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl">
        Página no encontrada
      </h1>
      <p class="mb-4 leading-7 [&:not(:first-child)]:mt-6">
        Lo sentimos, no pudimos encontrar la página que estás buscando.
      </p>
      <a href="/" rel="noreferrer" class={buttonVariants()}> Volver al inicio</a>
    </div>
  </main>
</BaseLayout>
